<!-- Start of nav bar
		============================================= -->
		<nav id="poppin-nav">
			<div id="nav-off"></div>
			<ul id="menu">
			  <li class="has-submenu text-capitalize">
				<a href="/">home</a>
			  </li>
		  </nav>
		  <div id="menu-overlay"></div>
		  <!-- End of nav bar
			  ============================================= -->


	<header id="site-header" class="not-stuck">
		<div class="container">
			<div class="row">


				<div id="menu-burger" class="pull-right not-stuck">
					<div id="menu-bar">
						<span class="icon-bar top"></span>
						<span class="icon-bar middle"></span>
						<span class="icon-bar bottom"></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End of header
		============================================= -->




    <!-- Start of page head section
		============================================= -->
		<section id="page-head" class="page-head-section">
			<div class="page-head-overlay"></div>
			<div id="page-head-effect" class="page-head-effect">
				<canvas id="demo-canvas"></canvas>
			</div>
			<!-- // page-head-style -->
			<div class="container">
				<div class="row">
					<div class="banner-content">
						<div class="page-head-content">
							<div class="page-head-title text-capitalize pb40">
								<div class=""><img src="images/logo.png" alt=""> </div>
								<span class="descrip"> Quang Huy - Viet Hai <br> Trong Hung - Quoc Binh - Duc Anh - The Anh</span>

							</div>
						</div>
						<!-- /.page-head-content -->
					</div>
				</div><!--  /.row-->
			</div><!--  /.container -->
		</section>
    <!-- End of page head section
		============================================= -->


	<!-- Start of contact us section
		============================================= -->
	<section id="contact" class="contact-us-section">
		<div class="container">
			<div class="row section-content">
				<div class="contact-us-contact">
					<!-- //.contact-text-->



					<div class="contact-adress pt90">
						<div class="row">
							<div class="col-sm-3">
								<div class="section-title text-capitalize deep-black pb75">
									<h2>Contact Us</h2>
								</div>
								<!-- //title -->
							</div>
							<!-- //col-sm-3 -->

							<div class="col-sm-3">
								<div class="service-text-icon">
									<div class="service-icon">
										<span class="deep-black ti-location-pin"></span>
									</div>
									<!-- //icon -->
									<div class="service-text mt15">
										<div class="service-title deep-black">
											<h3>Our Location</h3>
										</div>
										<!-- //title -->
										<div class="service-dec mt15">
											<span>Location Location Location
												Location Location Location
											</span>
										</div>
									</div>
									<!-- //deccription -->
								</div>
							</div>
							<!-- //col-sm-3 -->


							<div class="col-sm-3">
								<div class="service-text-icon">
									<div class="service-icon">
										<span class="deep-black ti-mobile"></span>
									</div>
									<!-- //icon -->
									<div class="service-text mt15">
										<div class="service-title deep-black">
											<h3>Direct Call</h3>
										</div>
										<!-- //title -->
										<div class="service-dec mt15">
											<span>+84 123456789<br>+84 123456789
											</span>
										</div>
									</div>
									<!-- //deccription -->
								</div>
							</div>
							<!-- //col-sm-3 -->


							<div class="col-sm-3">
								<div class="service-text-icon">
									<div class="service-icon">
										<span class="deep-black ti-email"></span>
									</div>
									<!-- //icon -->
									<div class="service-text mt15">
										<div class="service-title deep-black">
											<h3>Get In Touch</h3>
										</div>
										<!-- //title -->
										<div class="service-dec mt15">
											<span>hehe@hihi.com
												<br>www.hehehihi.com

											</span>
										</div>
									</div>
									<!-- //deccription -->
								</div>
							</div>
							<!-- //col-sm-3 -->
						</div>
					</div>
					<!-- //.contact-adress -->

					<div class="contact-area-form pt90">
						<div class="row">
							<div class="col-sm-3">
								<div class="section-title text-capitalize deep-black pb75">
									<h2>Drop a Mail</h2>
								</div>
								<!-- //title -->
							</div>
							<!-- //col-sm-3 -->

							<div class="col-sm-9">
								<div class="contact-adress-form">
									<form id="contact_form" action="/home.html"  method="POST" enctype="multipart/form-data">
										<div class="contact-info-item">
											<input class="name" name="name" type="text"
												placeholder="Enter your name...">
											<span><i class="fa fa-user" aria-hidden="true"></i></span>
										</div>
										<div class="contact-info-item">
											<input class="email" name="email" type="email" placeholder="Your Email">
											<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
										</div>
										<div class="contact-info-item">
											<input class="sub" name="name" type="text"
												placeholder="Subject ( optional )">
											<span class="phone"><i class="fa fa-phone" aria-hidden="true"></i></span>
										</div>
										<div class="contact-info-msg">
											<textarea id="message" name="message" placeholder="Type your message"
												rows="7" cols="30"></textarea>
											<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
										</div>
										<button href="home.html" class="text-uppercase" type="submit" value="send now" onclick="myFunction()">Send Message<i
												class="fa fa-angle-right" aria-hidden="true"></i></button>
									</form>
								</div>
							</div>
							<!-- //.col-sm-9 -->
						</div>
					</div>
					<!-- //.contact-area-form -->
				</div>
				<!-- //.contact-us-contact -->
				<div class="contact-map pt90">
					<div id="google-map">

							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096609283513!2d105.78010801501273!3d21.028820085998312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd376479b%3A0xbc2e0bb9db373ed2!2zOGEgVMO0biBUaOG6pXQgVGh1eeG6v3QsIE3hu7kgxJDDrG5oLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSAxMDAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1616689236213!5m2!1sen!2s"
							width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

					</div><!-- /#google-map-->
				</div>
			</div><!--  /.row-->
		</div><!--  /.container -->

	</section>
	<!-- End of contact us section
		============================================= -->





	<!-- Start of footer section
		============================================= -->
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="copy-right-area  border-top text-center">
						<span class="pt50 table-display">© hehehihi 2021 - All Rights Reserved </span>
					</div>
					<!-- //copy-right-area -->
				</div><!--  /.container -->
			</div><!--  /.row-->
			<div class="up">
				<a href="#" id="scrolluptop" class="scrollup custom"><span
						class="back-top deep-black text-uppercase">back top</span></a>
			</div>
		</div><!--  /.footer-area -->
	</footer>
	<!-- End of footer section
		============================================= -->


    <!-- boorstrap -->
<link
  rel="stylesheet"
  type="text/css"
  href="/bootstrap/css/bootstrap.min.css"
/>
<!-- themify-icon.css -->
<link rel="stylesheet" type="text/css" href="/css/themify-icons.css" />
<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
<!-- light-box -->
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
<!-- video css -->
<link rel="stylesheet" type="text/css" href="/css/video.min.css" />
<!-- menu.css -->
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<!-- style -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- responsive.css -->
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />

<!--  Js Library -->
<script src="/jquery/jquery-2.1.4.min.js"></script>
<!-- Include  for bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Include isotope Js -->
<script src="/jquery/jquery.isotope.min.js"></script>
<!-- Include lightbox -->
<script src="/js/lightbox.js"></script>
<!-- Include circle-effect.js -->
<script src="/js/circle-effect.js"></script>
<!-- Include Video js -->
<script src="/jquery/jquery.magnific-popup.min.js"></script>
<!-- Include Owl-carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Include Counter up -->
<script src="/jquery/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<!-- Include script.js -->
<script src="/js/script.js"></script>
