<!-- Start of nav bar
		============================================= -->
<nav id="poppin-nav">
  <div id="nav-off"></div>
  <ul id="menu">
    <li><a href="/contact">Contact</a></li>
    <li><a href="/auth/login">Login</a></li>
  </ul>
</nav>
<div id="menu-overlay"></div>
<!-- End of nav bar
			  ============================================= -->

<!-- Start of header
		============================================= -->
<header id="site-header" class="not-stuck">
  <div class="container">
    <div class="row">
      <div>Welcome, ....</div>
      <div id="menu-burger" class="pull-right not-stuck">
        <div id="menu-bar">
          <span class="icon-bar top"></span>
          <span class="icon-bar middle"></span>
          <span class="icon-bar bottom"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End of header
		============================================= -->

<!-- Start of page head section
		============================================= -->
<section id="page-head" class="page-head-section">
  <div class="page-head-overlay"></div>
  <div id="page-head-effect" class="page-head-effect">
    <canvas id="demo-canvas"></canvas>
  </div>
  <!-- // page-head-style -->
  <div class="container">
    <div class="row">
      <div class="banner-content">
        <div class="page-head-content">
          <div class="page-head-title text-capitalize pb40">
            <div class=""><img src="images/logo.png" alt="" /></div>
            <span class="descrip">
              Quang Huy - Viet Hai <br />
              Trong Hung - Quoc Binh <br />
              Duc Anh - The Anh</span
            >
          </div>
        </div>
        <!-- /.page-head-content -->
      </div>
    </div>
    <!--  /.row-->
  </div>
  <!--  /.container -->
</section>
<!-- End of page head section
		============================================= -->

<!-- Start of portfolio section
		============================================= -->
<section id="portfolio" class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="portfolio-content">
        <div class="portfolio-tab pb55">
          <div id="filters" class="button-group pb45" style="margin-top: 5%">
            <button
              class="tab-button active"
              data-filter="*"
              onclick="filter('all')"
            >
              All
            </button>
            <button class="tab-button" data-filter=".IT" onclick="filter('IT')">
              IT
            </button>
            <!-- chinh sua faculty o day -->
            <button
              class="tab-button"
              data-filter=".Business"
              onclick="filter('BS')"
            >
              Business</button
            ><!-- chinh sua faculty o day -->
            <button
              class="tab-button"
              data-filter=".Design"
              onclick="filter('DS')"
            >
              Design</button
            ><!-- chinh sua faculty o day -->
          </div>

          <div id="filters-container">
            {{#each articles}}
            <div
              class="container filter-div {{faculty}}"
              style="max-width: 800px"
            >
              <h2>{{title}}</h2>
              <br />
              <div class="card">
                <img
                  alt=""
                  style="width: 100%; height: 100%"
                  src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
                />
                <br /><br />
                <div class="card-body">
                  <a class="" href="">{{owner.username}}</a>
                  <!-- User Name -->
                  <br />
                  <p class="">{{content}}</p>
                </div>
                <br /><br />
              </div>
            </div>
            <br />
            {{/each}}
          </div>

          <!-- </div>
							</div> -->
        </div>
        <!--//portfolio-tab-->
      </div>
      <!--//portfolio-content -->
    </div>
    <!--  /.row -->
  </div>
  <!--  /.conatiner -->
</section>
<!-- End of portfolio section
		============================================= -->

<!-- Start of footer section
		============================================= -->
<footer>
  <div class="footer-area footer-2">
    <div class="container">
      <div class="row">
        <div class="copy-right-area text-center">
          <div class="page-head-social-item ul-li">
            <ul class="page-head-social-list">
              <li>
                <a href="#"><span class="ti-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-twitter-alt"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-google"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-instagram"></span></a>
              </li>
            </ul>
            <!-- /.page-head-social-list -->
          </div>
          <span>© hahahehe - All Rights Reserved </span>
        </div>
      </div>
      <!--  /.container -->
    </div>
    <!--  /.row-->
  </div>
  <!--  /.footer-area -->
</footer>
<!-- End of footer section
		============================================= -->

<!-- boorstrap -->
<link
  rel="stylesheet"
  type="text/css"
  href="/bootstrap/css/bootstrap.min.css"
/>
<!-- themify-icon.css -->
<link rel="stylesheet" type="text/css" href="/css/themify-icons.css" />
<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
<!-- light-box -->
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
<!-- video css -->
<link rel="stylesheet" type="text/css" href="/css/video.min.css" />
<!-- menu.css -->
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<!-- style -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- responsive.css -->
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />

<!--  Js Library -->
<script src="/jquery/jquery-2.1.4.min.js"></script>
<!-- Include  for bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Include isotope Js -->
<script src="/jquery/jquery.isotope.min.js"></script>
<!-- Include lightbox -->
<script src="/js/lightbox.js"></script>
<!-- Include circle-effect.js -->
<script src="/js/circle-effect.js"></script>
<!-- Include Video js -->
<script src="/jquery/jquery.magnific-popup.min.js"></script>
<!-- Include Owl-carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Include Counter up -->
<script src="/jquery/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<!-- Include script.js -->
<script src="/js/script.js"></script>

<style>
  .filter-div {
    display: none;
  }
  .show {
    display: block;
  }
</style>

<script>
  filter('all');
  function filter(condition) {
    var x, i;
    x = document.getElementsByClassName('filter-div');
    if (condition == 'all') condition = '';
    for (i = 0; i < x.length; i++) {
      removeClass(x[i], 'show');
      if (x[i].className.indexOf(condition) > -1) addClass(x[i], 'show');
    }
  }

  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(' ');
    arr2 = name.split(' ');
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += ' ' + arr2[i];
      }
    }
  }

  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(' ');
    arr2 = name.split(' ');
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(' ');
  }

  var filtersContainer = document.getElementById('filters');
  var filters = filtersContainer.getElementsByClassName('tab-button');
  for (var i = 0; i < filters.length; i++) {
    filters[i].addEventListener('click', function () {
      var current = document.getElementsByClassName('active');
      current[0].className = current[0].className.replace(' active', '');
      this.className += ' active';
    });
  }
</script>
