<!-- Start of nav bar
		============================================= -->
<nav id="poppin-nav">
  <div id="nav-off"></div>
  <ul id="menu">
    <li class="has-submenu text-capitalize">
      <a href="/">home</a>
    </li>
    <li class="has-submenu text-capitalize">
      <a href="article.html">Article</a>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
<div id="menu-overlay"></div>
<!-- End of nav bar
		============================================= -->

<header id="site-header" class="not-stuck">
  <div class="container">
    <div class="row">
      <div id="menu-burger" class="pull-right not-stuck">
        <div id="menu-bar">
          <span class="icon-bar top"></span>
          <span class="icon-bar middle"></span>
          <span class="icon-bar bottom"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End of header
		============================================= -->
<!-- Start of page head section -->
<section id="page-head" class="page-head-section">
  <div class="page-head-overlay"></div>
  <div id="page-head-effect" class="page-head-effect">
    <canvas id="demo-canvas"></canvas>
  </div>
  <!-- // page-head-style -->
  <div class="container">
    <div class="row">
      <div class="banner-content">
        <div class="page-head-content">
          <div class="page-head-title text-capitalize pb40">
            <h1>Profile</h1>
          </div>
          <!-- //title -->

          <div class="page-head-social">
            <div style="width: 100%; margin: 0 auto">
              <img
                src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/35123856_610698232629906_842287569721884672_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_ohc=KJZESKjIJawAX8Mv2GT&_nc_ht=scontent.fhan3-1.fna&oh=7f5b15febde9de2f2a4cd2eca2280088&oe=60840676"
                alt="image"
              />
            </div>
          </div>
          <div class="mt-3">
            <label for="file-upload" class="custom-file-upload"
              ><i class="fas fa-camera"></i>
              Upload
            </label>
            <input id="file-upload" type="file" />
          </div>

          <!-- /.page-head-social -->
        </div>
        <!-- /.page-head-content -->
      </div>
    </div>
    <!--  /.row-->
  </div>
  <!--  /.container -->
</section>
<!-- End of page head section -->

<section id="portfolio" class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="portfolio-content">
        <div class="portfolio-tab pb55">
          <div
            style="
              width: 100%;
              height: 100%;
              padding: 10px;
              border: 5px solid gray;
              margin: 0 auto;
              border-radius: 25px;
              margin-bottom: 5rem;
            "
          >
            <div style="margin: 20px 20px">
              <div style="margin-bottom: 2%; font-size: 2rem">ID: GCH17506</div>
              <!-- Information of users -->
              <div style="margin-bottom: 2%; font-size: 2rem">
                Name: BUI HUY THE ANH
              </div>
              <div style="margin-bottom: 2%; font-size: 2rem">
                Email: theanhbui221@gmail.com
              </div>
              <div style="margin-bottom: 2%; font-size: 2rem">Faculty:IT</div>
            </div>
          </div>
          <br /><br /><br />
          <div class="h1">Your post</div>
          <div
            style="
              width: 100%;
              height: 100%;
              padding: 10px;
              border: 5px solid gray;
              display: flex;
              border-radius: 5px 25px;
              margin-bottom: 5rem;
            "
          >
            <div style="width: 200px">
              <img
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/47081462_758619571171104_899937511281786880_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=krM_T_lXXG0AX-MyGnY&_nc_ht=scontent.fhan3-2.fna&oh=6838d777375340c21c705b421e6e0835&oe=6082E634"
                alt=""
              />
            </div>
            <!-- Image for article-->
            <div style="margin: 20px 20px">
              <div style="margin-bottom: 2%; font-size: 2rem">
                Title: First time hang out with my club.
              </div>
              <div style="margin-bottom: 2%; font-size: 2rem">
                Content: Nothing
              </div>
              <div style="margin-bottom: 2%; font-size: 2rem">Topic: Club</div>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <div
            style="
              width: 100%;
              height: 100%;
              padding: 10px;
              border: 5px solid gray;
              display: flex;
              border-radius: 5px 25px;
              margin-bottom: 5rem;
            "
          >
            <div style="width: 200px">
              <img
                src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/76616479_994883480878044_5651129638055837696_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_ohc=i-HECu0zCzkAX_KlYBV&_nc_oc=AQkRJ4O6L5-VfeLALKnAfFqfjGPt9t2dH4kw1Wtp5YayMWCjoJEl5Y6jAwEe74PW1_g&_nc_ht=scontent.fhan3-1.fna&oh=411356fdfa2a794b77c61a21f22c49f2&oe=60816295"
                alt=""
              />
            </div>
            <div style="margin: 20px 20px">
              <div style="margin-bottom: 2%; font-size: 2rem">Title</div>
              <div style="margin-bottom: 2%; font-size: 2rem">Content:</div>
              <div style="margin-bottom: 2%; font-size: 2rem">Topic:</div>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <div
            style="
              width: 100%;
              height: 100%;
              padding: 10px;
              border: 5px solid gray;
              display: flex;
              border-radius: 5px 25px;
              margin-bottom: 5rem;
            "
          >
            <div style="width: 200px">
              <img
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/15822859_354776644888734_7571522196951927156_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=174925&_nc_ohc=nse1eIxC2W8AX-eTdFO&_nc_ht=scontent.fhan3-3.fna&oh=e176cf31a5fa972254ebd7a273378751&oe=6083BF02"
                alt=""
              />
            </div>
            <div style="margin: 20px 20px">
              <div style="margin-bottom: 2%; font-size: 2rem">Title</div>
              <div style="margin-bottom: 2%; font-size: 2rem">Content:</div>
              <div style="margin-bottom: 2%; font-size: 2rem">Topic:</div>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <!--  /.row -->
    </div>
    <center class="p-5">
      <button
        onclick="window.location.href='/addNewArticle.html'"
        target="_blank"
        class="btn btn-primary text-center"
      >
        Create a new article
      </button>
    </center>

    <!--  /.conatiner -->
  </div>
</section>
<!-- End of portfolio section -->
<footer>
  <div class="footer-area footer-2">
    <div class="container">
      <div class="row">
        <div class="copy-right-area text-center">
          <div class="page-head-social-item ul-li">
            <ul class="page-head-social-list">
              <li>
                <a href="#"><span class="ti-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-twitter-alt"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-google"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-instagram"></span></a>
              </li>
            </ul>
            <!-- /.page-head-social-list -->
          </div>
          <span>© hahahehe - All Rights Reserved </span>
        </div>
      </div>
      <!--  /.container -->
    </div>
    <!--  /.row-->
  </div>
  <!--  /.footer-area -->
</footer>

<style class="">
  input[type='file'] {
    display: none;
  }
</style>

<!-- boorstrap -->
<link
  rel="stylesheet"
  type="text/css"
  href="/bootstrap/css/bootstrap.min.css"
/>
<!-- themify-icon.css -->
<link rel="stylesheet" type="text/css" href="/css/themify-icons.css" />
<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
<!-- light-box -->
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
<!-- video css -->
<link rel="stylesheet" type="text/css" href="/css/video.min.css" />
<!-- menu.css -->
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<!-- style -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- responsive.css -->
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
/>

<!--  Js Library -->
<script src="/jquery/jquery-2.1.4.min.js"></script>
<!-- Include  for bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Include isotope Js -->
<script src="/jquery/jquery.isotope.min.js"></script>
<!-- Include lightbox -->
<script src="/js/lightbox.js"></script>
<!-- Include circle-effect.js -->
<script src="/js/circle-effect.js"></script>
<!-- Include Video js -->
<script src="/jquery/jquery.magnific-popup.min.js"></script>
<!-- Include Owl-carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Include Counter up -->
<script src="/jquery/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<!-- Include script.js -->
<script src="/js/script.js"></script>
